@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f4f9ff;
  color: #143a73;
}

* {
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
}
